src/DataMap.Specs/obj/Debug/AdoMap.Specs.csproj.FileListAbsolute.txt
src/DataMap.Specs/obj/Debug/DataMap.Specs.csproj.FileListAbsolute.txt
src/DataMap.Specs/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/DataMap.Specs/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/DataMap.Specs/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/DataMap/Extensions/DataTableExtensions.cs.orig
src/DataMap/obj/Debug/AdoMap.Core.csproj.FileListAbsolute.txt
src/DataMap/obj/Debug/DataMap.csproj.FileListAbsolute.txt
src/DataMap/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/DataMap/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/DataMap/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
